body{
 margin: 0px; 
 padding: 0px; 
 font-family: Helvetica; 
 fint-size: 24px
 min-height: 500px;
 width: 100%; 
 background-position: center top;
 color: black; 
 font-size: 24px; 
 padding: 11px 0px 12px 0px; 
 text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
 font-weight: bold;}

#Button{
 -webkit-border-image:url(btn.png) 0 4 0 4 stretch stretch;
 font-size: 24px;
 font-weight: bold;
 color: #FFFFFF;
 text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
 border-width: 0px 4px;
 background: transparent none repeat scroll 0 0;
 right:0px;
 padding: 0px;}

#score{ 
 font-size: 18px;
 -webkit-border-radius: 15px; 
 width: 150px; 
 border: 1px black solid;}

.wrapper {
 text-align: center;}
